<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Custom CSS -->
    <style>
			/* Responsive Buttons
			-------------------------------------------------- */
			/* For small devices (landscape phones, less than 768px) and below */
			@media (max-width: 767.98px) { 
				.btn-autosize {
					font-size:85%;
					margin-top: 5%;
				}
			}

			/* So that heading appears below navbar */
			body {
			/* Margin top by header height */
			padding-top: 65px;
			padding-bottom: 5%;
			}
		</style>

    <title>TODO Tracker</title>
  </head>

  <body>
		<!-- Header with navbar -->
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

				<!-- Project Name -->
				<a class="navbar-brand">ToDo</a>

				<!-- Navbar Tabs -->
				<!-- collapsed for small devices and below -->
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'overview' %}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'newtodo' %}">New</a>
						</li>
					</ul>
				</div>
				<!-- Impressum (non-collapsable) -->
				<a class="nav-link" href="{% url 'impressum' %}">Impressum</a>

			</nav>
		</header>

		<!-- Main content of the site -->
    
    {% block content %} 

    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>