{% extends 'todo_tracker/main.html' %}

{% block content %}

<div class="container">
  <h1>New Todo Page</h1>
  <hr>
      
  <!-- Form to create new TODO -->
  <form action="" method="POST">
    <div class="form-row align-items-center">
      <!-- Four columns next to each other until medium breakpoint,
      stacked below each other after -->
      
      <!-- for TODO text -->
      <div class="form-group col-md-4">
        <label for="textField">TODO </label>
        <input type="text" class="form-control" id="textField" placeholder="Text (less than 160 symbols)">
      </div>

      <!-- for TODO Deadline -->
      <div class="form-group col-md-3">
        <label for="deadline">Deadline</label>
        <input type="date" class="form-control" id="deadline" placeholder="Deadline">
      </div>

      <!-- for TODO Progress -->
      <div class="form-group col-md-2">
        <label for="percentage">Progress</label>
        <input type="number" class="form-control" id="percentage" placeholder="Input percentage">
      </div>

      <!-- Buttons to Save or Delete -->
      <div class="col-md-3">
        <button type="submit" class="btn btn-outline-primary mt-md-3">Save</button>
        <a href="{% url 'newtodo' %}" class="btn btn-danger mt-md-3" role="button">Clear</a>
      </div>

      {% csrf_token %}
      {{form}}

    </div>
  </form>

  <!-- Back to Overview Button -->
  <a href="{% url 'overview' %}" class="btn btn-primary mt-3" role="button">Back to Overview</a>
</div>

{% endblock %}