<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- Custom CSS -->
		<link href="../css/header_footer.css" rel="stylesheet">

		<title>Edit TODO</title>
	</head>

  <body>
		<!-- Header with navbar -->
		<header>
			<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

				<!-- Project Name -->
				<a class="navbar-brand">ToDo</a>

				<!-- Navbar Tabs -->
				<!-- collapsed for small devices and below -->
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="../../overview">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="../../newtodo">New</a>
						</li>
					</ul>
				</div>
				<!-- Impressum (non-collapsable) -->
				<a class="nav-link" href="../../impressum">Impressum</a>

			</nav>
		</header>
		<!-- Main content of the site -->
		<div class="container">
			<!-- Heading -->
			<h1>Editing TODO</h1>

			<hr>

			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			
			<!-- Form to edit TODO -->
			<form action="{% url 'todos:edit' todo.id%}" method="post">
			{% csrf_token %}
				<div class="form-row align-items-center">
					
					<!-- for TODO text -->
					<div class="form-group col-md-4">
						<label for="textField">TODO </label>
						<input type="text" class="form-control" id="form.todo_text" placeholder="Text (less than 160 symbols)" value="{{todo.todo_text}}">
					</div>

					<!-- for TODO Deadline -->
					<div class="form-group col-md-3">
						<label for="deadline">Deadline</label>
						<input type="date" class="form-control" id="form.todo_deadline" value={{todo.deadline}}>
					</div>

					<!-- for TODO Progress -->
					<div class="form-group col-md-2">
						<label for="percentage">Progress</label>
						<input type="number" class="form-control" id="form.todo_progress" value={{todo.progess}}>
					</div>

					<!-- Buttons to Save or Delete -->
					<div class="col-md-3">
						<button type="submit" class="btn btn-outline-primary mt-md-3" value="todo" >Save</button>
						<button type="delete" class="btn btn-outline-danger mt-md-3" title="Delete to be..." disabled>Delete</button>
					</div>

				</div>
			</form>

			<!-- Back to Overview Button -->
			<a href="../../overview" class="btn btn-primary mt-3" role="button">Back to Overview</a>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
	</body>
</html>